:root {
    --primary-color: black;
    --secondary-color: white;
    --tertiary-color: #00FF00;
}

.altmode {
    --primary-color: white;
    --secondary-color: black;
    --tertiary-color: crimson;
}

body { 
    background-color: var(--primary-color); 
    color: var(--secondary-color);
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
    color: var(--secondary-color);
    
}


header {
    background-color: var(--primary-color);
    margin: 0 auto;
}

header::after {
    content: "";
    display: table;
    clear: both;
}

h1 {
    float: left;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 21px;
    list-style: none;

}

nav li {
    display: inline-block;
    font-size: larger;
    margin-left: 100px;
    background-color: var(--primary-color);
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;

}

nav li :hover {
    color:  var(--tertiary-color);
}


a {
    text-decoration: none;
    color: var(--secondary-color);
}

.fadein { 
    animation: fadeInAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    } 
    100% {
        opacity: 1;
    }
}

.delayanimation { 
    animation: delayAnimation ease 1.5s;  
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 3 important!;

}

@keyframes delayAnimation {
    0% {
        opacity: 0;
    } 
    100% {
        opacity: 1;
    }
}


.fadeinslow { 
    animation: fadeInAnimationSlow ease 2.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}

@keyframes fadeInAnimationSlow {
    0% {
        opacity: 0;
    } 
    100% {
        opacity: 1;
    }
}

.fadeinveryslow { 
    animation: fadeInAnimationVerySlow ease 7s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}

@keyframes fadeInAnimationVerySlow {
    0% {
        opacity: 0;
    } 
    100% {
        opacity: 1;
    }
}


h2 :hover {
    color: var(--tertiary-color);
}

h3 :hover{
    color: var(--tertiary-color); 
}

mark.red {
    color:#ff0000;

}

mark.black {
    color:var(--tertiary-color);
    background-color: var(--primary-color);
}

.card {
    /* Add shadows to create the "card" effect */
    height: 100px;
    width: 100px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,1.0) !important;
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }

form { 
    background-color: grey ;
    border-radius: 40px;
    width: 600px;
    height: 600px;
    position: relative;
    left: 800px;
    bottom: 600px;
}

input {
    border-radius: 10px;
    border-color: grey;
    border: none;
    /* box-shadow: 1px 1px 10px; */
}

